@using Ppt23.Client.ViewModels

<div class="grid grid-cols-5 gap-4 p-2 px-1 py-1 @((Vyb.isRevisionNeeded) ? "bg-red-200" : "")">
    <div>@Vyb.Name</div>
    <div>@Vyb.BoughtDateTime</div>
    <div>@Vyb.LastRevisionDateTime</div>
    <div class="p-2 text-center">@((Vyb.isRevisionNeeded) ? "Yes" : "No")</div>
    <div class="flex justify-center">
        <button class="twbtn bg-blue-400" @onclick="() => OnPerformRevision.InvokeAsync(Vyb)"> Provest revizi</button>
        <button class="twbtn bg-red-400" @onclick="() => OnDelete.InvokeAsync(Vyb)">Smazat</button>
    </div>

</div>

@code {

    [Parameter] public VybaveniVm Vyb { get; set; }
    [Parameter] public EventCallback<VybaveniVm> OnDelete { get; set; }
    [Parameter] public EventCallback<VybaveniVm> OnPerformRevision { get; set; }

}